<%- include('bootheader') -%>

  <head>
    <title> Team 9's Website </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      img {
        max-width: 100%;
      }

      .img-container {
        max-width: 100%;
        width: 800px;
        margin: auto;
        border-radius: 10px;
      }

      .img-container::after {
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
        margin-top: -150px;
        height: 150px;
        width: 100%;
        content: '';
    }
  </style>
</head>
<body>
    <div class="jumbotron" style="text-align: center;">
      <h1> Welcome to our website! </h1>
      <p>
        Our group members, Adharsh, Millan, Matthew, Steven, and Miranda, have all
        made websites this semester for COSI152a! For our group website, we created a
        quiz that will tell you who's website to go to. Feel free to explore
        all of the websites too!
      </p><br>
      <h3>
        If you want to go to the quiz click <a href='/quiz'> here </a>
      </h3><hr>
    </div>
    <div id="apps" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" onclick="location.href='/bios/<%= bios[0].name.split(" ")[0].toLowerCase() %>'">
          <div class="img-container">
            <img class="d-block" src=<%= bios[0].img %> alt=<%= bios[0].app_name %>>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h4><%= bios[0].app_name %></h4>
            <p><%= bios[0].name %></p>
          </div>
        <% for (var i = 1; i < bios.length; i++) { %>
          <div class="carousel-item">
            <div class="img-container">
              <img class="d-block" src=<%= bios[i].img %> alt=<% bios[i].app_name %>>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h4><%= bios[i].app_name %></h4>
              <p><%= bios[i].name %></p>
            </div>
          </div>
        <% } %>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
    <script type="text/javascript">
      $('.carousel').carousel({
        interval: 200
      });
    </script>
</body>
